body{width:100%;height:100%;margin:0;padding:0}html{width:100%;height:100%}#root{width:100%;height:100%;padding:0;display:flex}#canvas{aspect-ratio:1;height:100%}body,html,#root,#canvas{overflow:hidden}
