body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
}

#canvas {
  height: 100%;
  aspect-ratio: 1 / 1;
}

body,
html,
#root,
#canvas {
  overflow: hidden;
}